# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
dist/
build/

# PyBullet recordings / temp
*.mp4
*.avi

# Jupyter
.ipynb_checkpoints/